.myFooter{
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 0.6em;
    box-sizing: border-box;
    margin: 0;
    background-color: #3B474F; /*bg-color*/
    align-items:center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .myFooter-heading{
    color: white;  /*tx-heading-color*/
    padding: 0;
    margin: 0;
  }

  .myFooter-element{
    color: #868E96; /*tx-color*/
  }

  .footer-bottom ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }






.footer-hl{
  border-bottom: 2px solid rgb(112, 111, 111);
  padding: 0.5em;
}

.footer-social ul{
  display: flex;
  justify-content: center;
}
.footer-social ul li{
  padding: 0.5em;
}


.myFooter-top{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  margin-bottom: 0;
  justify-content: flex-start;
}

.myFooter-top ul{
  padding-bottom: 0;
  margin-bottom: 0;
}


.myFooter li{
  list-style-type: none;
}

.myFooter-contact{
  flex: 1 1 auto;
  text-align: left;
}
.myFooter-download{
  flex: 1 1 auto;
  text-align: left;
}
.myFooter-privacy{
  flex: 0 1 auto;
  text-align: left;
  margin-right: 2em;
}
.footer-end{
  text-align: center;
}