@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
::-moz-selection { /* Code for Firefox */
  color: green;
  background: rgb(44, 233, 217);
}

::selection {
  color: green;
  background: rgb(44, 233, 217);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PageHeading{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.CourseHeading{
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
}
.CourseSubHeading{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

.paragraph{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.FooterTextTop{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.FooterTextBottom{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

/* ========= Added by Oshan ============== */

* {
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #ffffff;
  --color-bg-variant: #2c2c6c;
  --color-primary: #B5E3EA;
  --color-primary-variant: rgba(77,181,255,0.4);
  --color-black: #000000;
  --color-light: rgba(241, 237, 237, 0.993);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}